<div class="container">
    <div class="form-group">
        <form onsubmit="return false;" action="#" class="form-horizontal">
            <div class="form-group d-flex">
                <div class="col-sm-12">
                    <input id="fen" class="col-md-5 form-control" type="text" placeholder="Enter FEN">
                    <button id="submit-btn" type="button" class="btn btn-success col-md-1">Submit</button>
                </div>
            </div>
            <div class="col-sm-12">
                <div id="results">Submit a FEN position to generate chess puzzles</div>
            </div>
        </form>
    </div>
</div>